<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinCtrlICP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <WinCtrlICP.Properties.Settings>
        <setting name="StartMinimized" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MinimizeToSystemTray" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SapHost" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="SapPort" serializeAs="String">
          <value>16536</value>
        </setting>
        <setting name="XPlaneIPAddress" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="XPlanePort" serializeAs="String">
          <value>49000</value>
        </setting>
        <setting name="ShutdownWithFS" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ActivePage" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="CustomDisplayId" serializeAs="String">
          <value>00000000-0000-0000-0000-000000000000</value>
        </setting>
        <setting name="CNIBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="COM1Binding" serializeAs="String">
          <value />
        </setting>
        <setting name="COM2Binding" serializeAs="String">
          <value />
        </setting>
        <setting name="IFFBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="NAV1Binding" serializeAs="String">
          <value />
        </setting>
        <setting name="CycleSystemUpBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="CycleSystemDownBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="CycleCustomUpBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="CycleCustomDownBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="UnitSystem" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="WXBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="INFOBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="APBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="SWCHBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="LGHTBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="TIMEBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="HROTBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="HDISBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="HCTLBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="NAV2Binding" serializeAs="String">
          <value />
        </setting>
        <setting name="GPSBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="BUGBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="FLPNBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="KollsmanBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="BALNBinding" serializeAs="String">
          <value />
        </setting>
        <setting name="AIRSBinding" serializeAs="String">
          <value />
        </setting>
      </WinCtrlICP.Properties.Settings>
    </userSettings>
</configuration>